*{  margin: 0;
    padding: 0;
    font-family: "Yanone Kaffeesatz", sans-serif;
    text-transform: capitalize;
}

    body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

.product-sit{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:50px repeat(5,1fr) ;
    grid-template-rows: 70px 1fr 70px;
    background-color:#1F2544;
}

.product-top-section{
    width: 98%;
    margin: 0px auto 10px auto;
    height: auto;
    grid-row: 1/2;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    border-radius:0 0 20px 20px ;
    background-color:#272727;
    border: 2px solid white;
    border-top: none;
}
.product-bin{
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}

.product-tittle{
    grid-column: 2/3;
    align-content: center;
    color:#F5F5F5;
    text-transform: capitalize;
}
.product-tittle-h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
}
.product-cross{
    width: 50%;
    height: auto;
    grid-column: 1/2;
    align-content: center;
    margin: 2px auto 0 auto;
    cursor: pointer;
}
.cart-fish-reomve{
    width: 50%;
    height: auto;
    grid-row: 1/2;
    grid-column: 1/2;
    align-content: center;
    margin: 2px auto 0 auto;
    cursor: pointer;
}
.cross{
    color: #F5F5F5;
}
.fish-section{
    grid-column: 1/-1;
    grid-row: 2/3;
    background-color: #1F2544;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.product{
    background-color: hsl(0, 0%, 90%);
    border-radius: 9px;
    border: #272727 solid 1.5px;
    margin: 10px auto 10px auto;
    width: 190px;   
    height: 300px;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(6,1fr);
    transition: all 0.5s linear;
}
.product:hover{
    background-color: hsl(0, 0%, 100%);
    transform: scale(1.05);
}
.heart-symbol{
    z-index: 1;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}
.heart {
  color: #F5F5F5;
}

.fish-section-heading{
    width: 100%;
    height: 20px;
    margin-top: 8px;
    justify-content: start;
    padding-left: 10px;
    grid-column: 1/-1;
    grid-row:4/5;
}
.main-heading-price{
    
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
   color: #0a0a0a;
}
.main-heading{
     
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
   color: #0a0a0a;
}
.image-section{
    grid-row:1/4 ;
    grid-column: 1/-1;
    margin: 5px;
}
.fish-img{
    width: 100%;
    height:140px ;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.add-to-cart{
    height: 80%;
    width: 65%;
    color: #F5F5F5;
    background-color: #1F2544;
    grid-column: 1/-1;
    grid-row: 6/7;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    display: flex;
}
h3{
    
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    align-self: center;
    margin: 0 0 0 17px ;
}

.btn-section{
    width: 100%;
    grid-row: 5/6;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.btn{
    width: 100%;
    height: 30px;
    align-content: center;
    align-self: center;
    font-size: 20px;
    cursor: pointer;
}

.decrases-btn:hover,.increase-btn:hover,.add-to-cart:hover{
   background-color: hsl(220, 59%, 23%);
}
.decrases-btn{ 
    border-radius: 5px;
    text-align: center;
    color: #F5F5F5;
    background-color: hsl(220, 59%, 19%);
    width: 35px;
    height: 35px;
    justify-self: end;
    align-content: center;
}
.increase-btn{
    border-radius: 5px;
    text-align: center;
    color: #F5F5F5;
    background-color: #14274E;
    width: 35px;
    height: 35px;
    align-content: center;
}
.cart{
    justify-content: center;
    align-self: center;
    margin: 0 auto 0 auto;
}

.cart-input input[type="number"] {
    width: 30px; /* Reduced width */
    height: 25px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
     font-size: 17px;
    font-weight: 400;
}
.cart-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-section{
    height: 100%;
    width: 100%;
}
.product-heading-section{
    border-radius: 0px 0px 5px 5px;
    background-color:#F5F5F5;
    width: 100%;
    height: 60px;
    align-content: center;
    margin: 10px 0px;
}
.product-heading-section h2{
    padding-left: 20px;

}
.bottam-section{
    grid-row: 3/4;
    grid-column: 1/-1;
    width: 99%;
    height: 50px;
    background-color: #272727;
    border-radius: 30px 30px 0 0 ;
    align-self: flex-end;
    align-content: center;
    border: 2px solid white;
    border-bottom: none;
}
.list,.pc-list{
    list-style: none;
    text-transform: capitalize;
    text-transform: capitalize;
    transition: all 200ms ease-in-out;
}
ul{
    padding-left: 0;
    display: flex;
    justify-content: space-around; 
}
a{
    color: white;
    text-decoration: none;
}

.list:hover{
    transform: scale(1.5);
}
.pc-bottam-section{
    display: none;
}

@media screen and (min-width:450px) and (max-width:2500px){
    .product-top-section{
        width: 99.8%;
    }
    .bottam-section{
        display: none;
    }
    .pc-bottam-section{
        display: flex;
        width: 100%;
        grid-row: 2/3;
        grid-column: 1/-1;
        background-color: #1F2544;
        align-self: center;
    }
    .pc-bottan-nav{
        width: 100%;
    }
    .pc-ul{
        width: 100%;
        justify-content: space-around; 
    }
    .pc-list{
        font-size: 25px;
    }
    .product-sit{
         grid-template-rows: 70px 70px 1fr ;
    }
    .fish-section{
        grid-row: 3/4;
    }
    
}


